html {
  box-sizing: border-box;
  width: 100vw;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {

  // general rules
  margin: 0;
  height: 100vh;
  width: 100%;

  // background rules
  background-image: url('../../images/cat-potrait_small.jpg');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 500px) {
    background-position: center right;
  }

  @media (min-width: 550px) {
    background-image: url('../../images/cat-potrait_big.jpg');
  }

  @media (min-width: 700px) {
    background-image: url('../../images/cat-crop.jpg');
  }

  @media (min-width: 850px) {
    background-image: url('../../images/cat_full.jpg');
  }

  @media (min-width: 1150px) {
    background-image: url('../../images/cat_1920.jpg');
  }

  @media (min-width: 1920px) {
    background-image: url('../../images/cat_3235.jpg');
  }
}
