html {
  box-sizing: border-box;
  width: 100vw;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {

  // general rules
  color: $accent;
  margin: 0;
  height: 100vh;
  position: relative;
  width: 100%;

  // background rules
  background-image: url('../../images/cat-potrait_small.jpg');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 500px) {
    background-position: center right;
  }

  @media (min-width: 550px) {
    background-image: url('../../images/cat-potrait_big.jpg');
  }

  @media (min-width: 700px) {
    background-image: url('../../images/cat-crop.jpg');
  }

  @media (min-width: 850px) {
    background-image: url('../../images/cat_full.jpg');
  }

  @media (min-width: 1280px) {
    background-image: url('../../images/cat_1920.jpg');
  }

  @media (min-width: 1860px) {
    background-image: url('../../images/cat_3235.jpg');
  }
}

button {
  background-color: $accent;
  border: 2px solid $text-dark;
  border-radius: 6px;
  color: $text-dark;
  font-size: 1em;
  font-weight: bold;
  margin: 20px;
  padding: 0.7em;
  text-transform: uppercase;
  transition: all 0.3s;
  max-width: 100%;

  &:hover {
    background-color: darken($accent, 5%);
  }
}

h1 {
  background-color: $accent;
  color: $text-dark;
  margin: 20px auto;
  padding: 0.3em;
  text-align: center;
  transform: skewX(-7deg);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.quote {
  background-color: rgba(110, 255, 255, 0.2);
  margin-top: auto;
  min-height: 10.25em;

  @media (min-width: 595px) {
    margin-left: 20px;
    margin-top: 0;
    width: 50%;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
  color: $accent;
  font-size: 1.2em;
  min-height: 100%;
  margin: 0;
  padding: 1em;
  text-shadow: 1px 1px 0 $text-dark;
}
